{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
     {{ include('_header.html.twig') }} 

     <div class="flex flex-col items-start justify-center gap-10 w-full px-6 py-12 lg:px-8">
          <div class="flex flex-col items-start justify-center gap-2">
              <span class="text-4xl font-semibold">Dashboard</span>
          </div>

          <div class="grid grid-cols-3 gap-4 w-full">

               <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
                         Sites
                         </h5>
                         <ul class="my-4 space-y-3">
                              <li>
                                   <a href="{{ path('app_site_index') }}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Afficher</span>
                                   </a>
                              </li>
                              <hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
                              <li>
                                   <a href="{{ path('app_site_new') }}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Créer</span>
                                   </a>
                              </li>
                         </ul>
               </div>

               <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
                         Villes
                         </h5>
                         <ul class="my-4 space-y-3">
                              <li>
                                   <a href="{{ path('app_city_index') }}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Afficher</span>
                                   </a>
                              </li>
                              <hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
                              <li>
                                   <a href="{{ path('app_city_new') }}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Créer</span>
                                   </a>
                              </li>
                         </ul>
                         
               </div>

               <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
                         Utilisateurs
                         </h5>
                         <ul class="my-4 space-y-3">
                              <li>
                                   <a href="{{ path('app_user_index') }}" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Afficher</span>
                                   </a>
                              </li>
                              <hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
                              <li>
                                   <a href="" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                        <span class="flex-1 ms-3 whitespace-nowrap">Créer</span>
                                   </a>
                              </li>
                         </ul>
                         
               </div>

          </div>
     </div>
{% endblock %}