{% extends 'base.html.twig' %}

{% block title %}Output index{% endblock %}

{% block body %}
    {# {{ include('_header.html.twig') }} #}

    {# <h1>Output index</h1> #}

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDatetime</th>
                <th>Duration</th>
                <th>RegistrationDeadline</th>
                <th>MaxNumberRegistration</th>
                <th>ExitInfos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for output in outputs %}
            <tr>
                <td>{{ output.id }}</td>
                <td>{{ output.name }}</td>
                <td>{{ output.startDatetime ? output.startDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ output.duration }}</td>
                <td>{{ output.registrationDeadline ? output.registrationDeadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ output.maxNumberRegistration }}</td>
                <td>{{ output.exitInfos }}</td>
                <td>
                    <a href="{{ path('app_output_show', {'id': output.id}) }}">show</a>
                    <a href="{{ path('app_output_edit', {'id': output.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> > #}

    {# <a href="{{ path('app_output_new') }}">Create new</a> #}

    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
        <h2 class="mt-10 text-2xl/9 font-bold tracking-tight text-gray-900">Filtrer les sorties</h2>

        <form class="pt-10 space-y-6" action="#" method="GET">
            <div>
                <div class="mt-2 flex justify-between items-center">
                    <div>
                        <label for="site" class="block text-sm/6 font-medium text-gray-900">Site</label>
                        <div class="mt-2">
                            <select name="site" id="site" class="pl-2 block w-60 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                <option value="">Tous les sites</option>
                                {% for s in sites %}
                                    <option
                                            value="{{ s.id }}"
                                            {% if site == s.id %}selected{% endif %}
                                    >{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="flex justify-center items-center gap-4">
                        <div>
                            <label for="startDatetime" class="block text-sm/6 font-medium text-gray-900">Entre</label>
                            <div class="mt-2">
                                <input id="startDatetime" name="startDatetime" type="datetime-local" value="{{ startDatetime }}" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                            </div>
                        </div>
                        <div>
                            <label for="endDatetime" class="block text-sm/6 font-medium text-gray-900">Et</label>
                            <div class="mt-2">
                                <input id="endDatetime" name="endDatetime" type="datetime-local" value="{{ endDatetime }}" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label for="name" class="block text-sm/6 font-medium text-gray-900">Nom de la sortie</label>
                <div class="mt-2">
                    <input id="name" name="name" type="text" value="{{ name }}" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                </div>
            </div>

            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Rechercher</button>
        </form>

        <table class="mt-10 w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase">
                <tr class="border-b">
                    <th class="px-6 py-3">
                        Nom de la sortie
                    </th>
                    <th class="px-6 py-3">
                        Date de la sortie
                    </th>
                    <th class="px-6 py-3">
                        Clôture
                    </th>
                    <th class="px-6 py-3">
                        Inscrits/places
                    </th>
                    <th class="px-6 py-3">
                        Etat
                    </th>
                    <th class="px-6 py-3">
                        Inscrit
                    </th>
                    <th class="px-6 py-3">
                        Organisateur
                    </th>
                    <th class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for output in outputs %}
                <tr class="bg-white border-t">
                    <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ output.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ output.startDatetime|date('Y-m-d H:i:s') }}
                    </td>
                    <td class="px-6 py-4">
                        {{ output.registrationDeadline|date('Y-m-d H:i:s') }}
                    </td>
                    <td class="px-6 py-4">
                        {{ output.members|length }}/{{ output.maxNumberRegistration }}
                    </td>
                    <td class="px-6 py-4">
                        {{ output.status.value }}
                    </td>
                    <td class="px-6 py-4">
                        <span class="text-red-500">A voir</span> {# TODO : A voir #}
                    </td>
                    <td class="px-6 py-4">
                        {{ output.organisator.firstName }} {{ output.organisator.lastName }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex justify-center items-center gap-4">
                            <a href="{{ path('app_output_show', {'id': output.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
                                    <path d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z" stroke="currentColor" stroke-width="1.5" />
                                    <path d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z" stroke="currentColor" stroke-width="1.5" />
                                </svg>
                            </a>
                            <a href="{{ path('app_output_edit', {'id': output.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
                                    <path d="M15.2141 5.98239L16.6158 4.58063C17.39 3.80646 18.6452 3.80646 19.4194 4.58063C20.1935 5.3548 20.1935 6.60998 19.4194 7.38415L18.0176 8.78591M15.2141 5.98239L6.98023 14.2163C5.93493 15.2616 5.41226 15.7842 5.05637 16.4211C4.70047 17.058 4.3424 18.5619 4 20C5.43809 19.6576 6.94199 19.2995 7.57889 18.9436C8.21579 18.5877 8.73844 18.0651 9.78375 17.0198L18.0176 8.78591M15.2141 5.98239L18.0176 8.78591" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11 20H17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </a>
                            {% if app.user == output.organisator %}
                                <a href="{{ path('app_output_cancel', {'id': output.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
                                        <path d="M14.9994 15L9 9M9.00064 15L15 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z" stroke="currentColor" stroke-width="1.5" />
                                    </svg>
                                </a>
                            {% endif %}
                            {% if app.user == output.organisator and output.startDatetime <= date('-1 month') %}
                                <a href="{{ path('app_output_archive', {'id': output.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
                                        <path d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M3 5.5H21M16.0557 5.5L15.3731 4.09173C14.9196 3.15626 14.6928 2.68852 14.3017 2.39681C14.215 2.3321 14.1231 2.27454 14.027 2.2247C13.5939 2 13.0741 2 12.0345 2C10.9688 2 10.436 2 9.99568 2.23412C9.8981 2.28601 9.80498 2.3459 9.71729 2.41317C9.32164 2.7167 9.10063 3.20155 8.65861 4.17126L8.05292 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M9.5 16.5L9.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M14.5 16.5L14.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas de sortie trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mt-10">
            <a href="{{ path('app_output_new') }}">
                <button type="button" class="flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Créer une sortie</button>
            </a>
        </div>
    </div>
{% endblock %}
