{% extends 'base.html.twig' %}

{% block title %}Update profil{% endblock %}

{% block body %}

    {% if userForm.vars.value.id == null %}
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Create user</h2>
    {% else %}
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Update user</h2>
    {% endif %}
    
    <div class="max-w-sm mx-auto">
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}

        <div class="mb-5">
            <p class="mb-3 text-gray-500 dark:text-gray-400">
                <strong>Ville de rattachement :</strong> {{ user.site.name }}
            </p>
        </div>

        <div class="mt-6 flex items-center justify-center gap-x-6">
            <input type="submit"  value="{{ userForm.vars.value.id == null ? 'Create' : 'Modify' }}" class="flex justify-center rounded-md bg-gray-300 px-3 py-1.5 text-sm/6 font-semibold text-gray-900 shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-300"/>        
        </div>
        {{ form_end(userForm) }}
    </div>


{% endblock %}
